.container {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.left{
   
    height: 90vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    
    height: 90vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counterBox{
    border-radius: 10px;
    box-shadow: 0px 0px 15px -8px black;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    display: flex; 
   
    align-items: center;
    justify-content: center;
    
}


button{
background-color: #4e30d4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}